body{
    background-color: aqua;
}
label
{
    font-size: 16px;
}
input{
    
    margin: 12px;
    font-size:16px;
}

input:hover{
    font-size: 20px;
}

.Kuldes
{
    background-color: black;
    border: 2px solid white;
    font-family: monospace;
    font-size: 18px;
}
.Kuldes:hover
{
    font-size: 19px;
    font-weight: bold;
}

form{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:auto;
    text-align: center;
    color: aqua;
}
fieldset
{
    padding: -20px;
    border:2px solid rgb(4, 67, 78);
}