body{
    background-color: bisque;
}

#asztal{
    background-color: green;
    min-height: 300px;
    overflow: auto;
    text-align: center;
}

.kartya{
    width: 210px;
    height: 270px;
    background-color: burlywood;
    border: 2px solid black;
    border-radius: 15px;
    _background-image: url("cat_looking.jpeg");
    background-size: cover;
    background-position: center;
    _float: left;
    display: inline-block;
    margin: 5px; 
}